*, *:before, *:after
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 18px
  height: 100%
  overflow-x: hidden

html *
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body
  font-size: 1rem
  font-family: sans-serif
  height: 100%

ul, ol
  display: block
  margin: 0.8em

  li
    display: list-item
    margin: 0.5rem 0 0.5rem 1.5rem
