#examples
  h2 Demos :
  
  p Put your mouse on the rectangles and see the magic

  .example(data-ztooltips="I will appear at the top-hand side !") 
    i 
      code no class

  .example(data-ztooltips="I will appear at the top-hand side !").z-tooltips-top z-tooltips-top

  .example(data-ztooltips="I will appear at the bottom-hand side !").z-tooltips-bottom z-tooltips-bottom

  .example(data-ztooltips="I will appear at the left-hand side !").z-tooltips-left z-tooltips-left

  .example(data-ztooltips="I will appear at the right-hand side !").z-tooltips-right z-tooltips-right
