#howto
  
  h2 How to :
  
  pre
    code.html.
      &lt;div class="[position class]" data-ztooltips="[text of the tooltip]"&gt;
        ...
      &lt;/div&gt;
      
  ul
    li
      p 
        b class : 
        | (Optionnal) 4 classnames can altere the position of the tooltip (top / left / bottom / right)
    li
      p
        b data-ztooltips : 
        | The text that will be displayed in the tooltip
