#description
  h2 What is Z-Tooltips ?
  
  p 
    | Z-Tooltips is the easyest and most lightweight way to provide beautiful tooltips 
    | on your web pages.

  p 
    | You'll just have to write your tooltip's content in a 
    span.inline-code data-ztooltips
    | attribut instead of the usual 
    span.inline-code title 
    | attribute.

  .grid
    .grid-2.center
      a(href="#").btn 
        span.entypo-github 
        | github
      
    .grid-2.center
      a(href="#").btn 
        span.entypo-download 
        | download
