#ex1(data-ztooltips="I will appear at the left-hand side !").z-tooltips-left z-tooltips-left

#ex2(data-ztooltips="I will appear at the right-hand side !").z-tooltips-right z-tooltips-right

#ex3(data-ztooltips="I will appear at the top-hand side !").z-tooltips-top z-tooltips-top

#ex4(data-ztooltips="I will appear at the bottom-hand side !").z-tooltips-bottom z-tooltips-bottom
