#examples
  h2 Examples :

  .example(data-ztooltips="I will appear at the left-hand side !").z-tooltips-left z-tooltips-left

  .example(data-ztooltips="I will appear at the right-hand side !").z-tooltips-right z-tooltips-right

  .example(data-ztooltips="I will appear at the top-hand side !").z-tooltips-top z-tooltips-top

  .example(data-ztooltips="I will appear at the bottom-hand side !").z-tooltips-bottom z-tooltips-bottom
