.grid
  .grid-2
    .box.center
      p 
        | Made with 
        span.pink.entypo-heart
        | by 
        a(href="http://caradeuc.info") Benjamin Caradeuc
      
      p
        a(href="mailto:benjamin@caradeuc.info").btn
          span.entypo-mail 
          | contact me
          
    
  .grid-2
    .box.center
      p Share my work on 
      a(title="Share via facebook", href="http://www.facebook.com/sharer.php?u=http://labo.caradeuc.info/z-tooltips/").social-btn.facebook.entypo-facebook
      a(title="Share via twitter", href="https://twitter.com/share?url=http://labo.caradeuc.info/z-tooltips/&text=Just%20found%20something%20awesome!&via=benavern").social-btn.twitter.entypo-twitter
