#more
  h2 More :
  
  p I developed this for me and wanted to share it with you because I think it can be usefull.

  p I don't guarantee that it is perfect but I tried to do my best.

  p Contributions, forks, pull requests, comments... are welcome!
